<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.column_prefix.Mapper">

    <resultMap id="roomMapper"
               type="org.apache.ibatis.submitted.column_prefix.Room">
        <id property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>
    </resultMap>

    <resultMap id="petMapper"
               type="org.apache.ibatis.submitted.column_prefix.Pet">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="room" resultMap="roomMapper"/>
    </resultMap>

    <resultMap id="phoneMapper"
               type="org.apache.ibatis.submitted.column_prefix.Phone">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="areaCode" column="area_code"/>
    </resultMap>

    <resultMap id="zipMapper"
               type="org.apache.ibatis.submitted.column_prefix.Zip">
        <result property="state" column="state"/>
        <result property="city" column="city"/>
        <result property="zipCode" column="zip_code"/>
    </resultMap>

    <resultMap id="addressMapper"
               type="org.apache.ibatis.submitted.column_prefix.Address">
        <constructor>
            <idArg column="id" javaType="int"/>
            <arg column="state" javaType="string"/>
        </constructor>
        <result property="city" column="city"/>
        <result property="hasPhone" column="has_phone"/>
        <association property="stateBird" javaType="string">
            <result column="state_bird"/>
        </association>
        <association property="zip" resultMap="zipMapper"
                     columnPrefix="zip_"/>
        <association property="phone1" resultMap="phoneMapper"
                     columnPrefix="p1_"/>
        <association property="phone2" resultMap="phoneMapper"
                     columnPrefix="p2_"/>
        <discriminator column="addr_type" javaType="int">
            <case value="1" resultMap="addressWithCautionMapper"/>
        </discriminator>
    </resultMap>

    <resultMap id="addressWithCautionMapper" extends="addressMapper"
               type="org.apache.ibatis.submitted.column_prefix.AddressWithCaution">
        <result property="caution" column="caution"/>
    </resultMap>

    <resultMap id="personMapper"
               type="org.apache.ibatis.submitted.column_prefix.Person">
        <id property="id" column="person_id"/>
        <result property="name" column="person_name"/>
        <association property="room" resultMap="roomMapper"
                     columnPrefix="person_"/>
        <association property="billingAddress" resultMap="addressMapper"
                     notNullColumn="id" columnPrefix="b_"/>
        <association property="shippingAddress" resultMap="addressMapper"
                     notNullColumn="id" columnPrefix="s_"/>
        <collection property="pets" resultMap="petMapper"
                    columnPrefix="pet_"/>
    </resultMap>

    <select id="selectPets" resultMap="petMapper"><![CDATA[
        SELECT pet.id,
               pet.name,
               room_id,
               room_name
        FROM pet
                 LEFT JOIN room ON room.room_id = pet.room_id
        ORDER BY pet.id
        ]]></select>

    <select id="selectPersons" resultMap="personMapper"><![CDATA[
        SELECT person.id                         AS person_id,
               person.name                       AS person_name,
               billing_address.id                AS b_id,
               billing_address.state             AS b_state,
               billing_address.city              AS b_city,
               billing_address.addr_type         AS b_addr_type,
               billing_address.caution           AS b_caution,
               CASE
                   WHEN billing_address.phone1_id IS NULL
                       AND billing_address.phone2_id IS NULL
                       THEN FALSE
                   ELSE TRUE
                   END                           AS b_has_phone,
               billing_address_state_bird.bird   AS b_state_bird,
               billing_address_zip.state         AS b_zip_state,
               billing_address_zip.city          AS b_zip_city,
               billing_address_zip.zip_code      AS b_zip_zip_code,
               shipping_address.id               AS s_id,
               shipping_address.state            AS s_state,
               shipping_address.city             AS s_city,
               shipping_address.addr_type        AS s_addr_type,
               shipping_address.caution          AS s_caution,
               CASE
                   WHEN shipping_address.phone1_id IS NULL
                       AND shipping_address.phone2_id IS NULL
                       THEN FALSE
                   ELSE TRUE
                   END                           AS s_has_phone,
               shipping_address_state_bird.bird  AS s_state_bird,
               shipping_address_zip.state        AS s_zip_state,
               shipping_address_zip.city         AS s_zip_city,
               shipping_address_zip.zip_code     AS s_zip_zip_code,
               billing_address_phone1.id         AS b_p1_id,
               billing_address_phone1.phone      AS b_p1_phone,
               billing_address_phone1.area_code  AS b_p1_area_code,
               billing_address_phone2.id         AS b_p2_id,
               billing_address_phone2.phone      AS b_p2_phone,
               billing_address_phone2.area_code  AS b_p2_area_code,
               shipping_address_phone1.id        AS s_p1_id,
               shipping_address_phone1.phone     AS s_p1_phone,
               shipping_address_phone1.area_code AS s_p1_area_code,
               shipping_address_phone2.id        AS s_p2_id,
               shipping_address_phone2.phone     AS s_p2_phone,
               shipping_address_phone2.area_code AS s_p2_area_code,
               person_room.room_id               AS person_room_id,
               person_room.room_name             AS person_room_name,
               pet.id                            AS pet_id,
               pet.name                          AS pet_name,
               pet_room.room_id                  AS pet_room_id,
               pet_room.room_name                AS pet_room_name
        FROM person
                 LEFT JOIN address billing_address
                           ON billing_address.id = person.billing_address_id
                 LEFT JOIN address shipping_address
                           ON shipping_address.id = person.shipping_address_id
                 LEFT JOIN state_bird billing_address_state_bird
                           ON billing_address_state_bird.state = billing_address.state
                 LEFT JOIN state_bird shipping_address_state_bird
                           ON shipping_address_state_bird.state = shipping_address.state
                 LEFT JOIN zip shipping_address_zip
                           ON shipping_address_zip.state = shipping_address.state
                               AND shipping_address_zip.city = shipping_address.city
                 LEFT JOIN zip billing_address_zip
                           ON billing_address_zip.state = billing_address.state
                               AND billing_address_zip.city = billing_address.city
                 LEFT JOIN phone billing_address_phone1
                           ON billing_address_phone1.id = billing_address.phone1_id
                 LEFT JOIN phone billing_address_phone2
                           ON billing_address_phone2.id = billing_address.phone2_id
                 LEFT JOIN phone shipping_address_phone1
                           ON shipping_address_phone1.id = shipping_address.phone1_id
                 LEFT JOIN phone shipping_address_phone2
                           ON shipping_address_phone2.id = shipping_address.phone2_id
                 LEFT JOIN room person_room ON person_room.room_id = person.room_id
                 LEFT JOIN pet ON pet.owner_id = person.id
                 LEFT JOIN room pet_room ON pet_room.room_id = pet.room_id
        ORDER BY person.id, pet.id
        ]]></select>

</mapper>
